*{
    padding: 10px;
}

body{

    background-color:rgba(121, 19, 19, 0.918) ;
    width: 300px;
    height: 100px;
    margin: auto;
}

.container{

padding: 20px;
display:block;
margin: 0 auto;

border-radius: 61px;
background: #b12f2f;
box-shadow:  25px 25px 46px #852323,
             -25px -25px 46px #dd3b3b;


}
.title{
    text-align: center;
    display: block;
    font-family:Arial, Helvetica, sans-serif
}
.numero{
    margin: auto 100px;
    text-align: center;
    font-size: 4em;
}
.boton{
    align-items: center;
    margin: auto;
    align-items: center;
    width: 100px;
}
.botones{
    padding:auto;
    margin: 0.2em 10px;
    width: 80%;
    align-items: center;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
.botones:hover {
    background-color:rgba(255, 255, 255, 0.3);
}
.bot{
   
    width: 49%;
    margin: auto;
    border-radius: 10px;
    border-style: none;
    font-size: medium;
    cursor: pointer;
}
.aumentar{
    color:crimson;

}
.bot:hover {
    background-color:rgba(255, 255, 255, 0.3);
}

.btn{

    display: flex;

}